{% extends "base.html" %}
    <style type="text/css">
        .error{
            color:red;
        };

    </style>
	
	
        {% block body %}
	
	<div class="container jumbo-container">
  		<div class="jumbotron">
    		<h1>My Secret Diary</h1>      
    		<p>See everyone's diary here.</p>
  		</div>
	</div>
   	<div class="container">

		<div class="card">
		  <div class="card-header">
		    Author
		  </div>
		  <div class="card-block">
		    <h4 class="card-title">Title</h4>
		    <p class="card-text">Summary to lead in</p>
		    <a href="#" class="btn btn-primary">Read more..</a>
		  </div>
		</div>
		&nbsp;
		<div class="card">
		  <div class="card-header">
		    Author
		  </div>
		  <div class="card-block">
		    <h4 class="card-title">Title</h4>
		    <p class="card-text">Summary to lead in</p>
		    <a href="#" class="btn btn-primary">Read more..</a>
		  </div>
		</div>

	


		<p>Requirements for the front end are as follows:</p>
		<ul>
		    <!-- {% block content %}{% endblock %} -->
		    <li>Display all public diary entries</li>
		    <li>Display an authenticated user's diary entries</li>
		    <li>Create a new diary entry</li>
		    <li>Delete an existing diary entry</li>
		    <li>Toggle the permissions on an existing diary entry</li>
		</ul>

		<!-- the following is a demo on how you may display data retrieved from
		     the API
		-->
		<div id="demo_heartbeat">
		</div>
		<div id="demo_members">
		</div>
		<div id="demo_short_answer_questions">weeee
		</div>
	</div>
	 <script src="{{url_for('static', filename='demo.js')}}"></script>
     
        {% endblock %}

	
 		

</html>
