{% extends "base.html" %}
{% block title %}About me{% endblock %}
{% block body %}


	<div class="container jumbo-container">
  		<div class="jumbotron">
    		<h1>Welcome, {{user.name}}</h1>      
    		<p>View your personal information below</p>
  		</div>
	</div>

<div class="container">
	<div class="card card-outline-primary mb-3">
	  <div class="card-block">
	    <blockquote class="card-blockquote">



<ul class="list-group list-group-flush">
  <li class="list-group-item">Full Name    : {{user.fullname}}</li>
  <li class="list-group-item">User Name    : {{user.name}}</li>
  <li class="list-group-item">Age          : {{user.age}}</li>
  <li class="list-group-item">Hash Password : {{user.password}}</li>
 
  
</ul>
	    </blockquote>
	  </div>
	</div>
</div>







{% endblock %}
