{% extends "base.html" %}

{% block body %}

<div class="container jumbo-container">
  		<div class="jumbotron">
    		<h1>Sign up</h1>      
    		<p>It will only take you a minute!</p>
  		</div>
	</div>
<div class="container">

<div class = "login">
<form class = "login-form" method="POST" action="{{url_for('users_register')}}">
    <div class = "inner-form">
{{ form.hidden_tag() }}
    <label>Fullname</label>

{{ form.fullname(class="form-control") }}
         {% if form.fullname.errors %}
        <ul class=errors>
        {% for error in form.fullname.errors %}
          <li class = "error">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}   

     <label>Age  </label>
{{ form.age(class="form-control") }}
         {% if form.age.errors %}
        <ul class=errors>
        {% for error in form.age.errors %}
          <li class = "error">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %} 
     <label>User Name  </label>    {{form.name(class="form-control")}}  
        {% if form.name.errors %}
        <ul class=errors>
        {% for error in form.name.errors %}
          <li class = "error">{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

    <p class="password">Password {{ form.password(type = "password",class="form-control") }}</p>
        {% if form.password.errors %}

        <ul class=errors>
        {% for error in form.password.errors %}
          <li class = "error">{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    <p class="confirm">Repeat Password {{ form.confirm(type = "password",class="form-control") }}</p>
        {% if form.confirm.errors %}
        <ul class=errors>
        {% for error in form.confirm.errors %}
          <li class = "error">{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
  



    <input class = "signup-btn" type="submit" value="Sign up">
    </p>
    </div>
</form>
</div>

</div>
{% endblock %} 
